@{
    ViewData["Title"] = "Resultado da multiplcação";
}

<div class="text-center">

    <p>A multiplicação de @ViewData["numberOne"] * @ViewData["numberTwo"] é igual a @ViewData["resultado"].</p>
</div>