@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Selecione no menu de navegação qual operação matemática deseja realizar..</a>.</p>
    <br>
    <br>
</div>
